<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jstakun.gms.android.ui.deals"
    android:versionCode="11152"
    android:versionName="0.9" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="23" />
    
    <supports-screens android:smallScreens="true"
                  android:normalScreens="true"
                  android:largeScreens="true"
                  android:xlargeScreens="true"
                  android:anyDensity="true" />
    <permission android:name="com.jstakun.gms.android.permission.ACTIVITY" android:protectionLevel="signature"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.jstakun.gms.android.permission.ACTIVITY" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission android:name="com.google.maps.android.utils.permission.MAPS_RECEIVE" android:protectionLevel="signature"/>
    
    <uses-permission android:name="com.google.maps.android.utils.permission.MAPS_RECEIVE"/>
    
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    
    <application 
        android:allowBackup="true"
        android:icon="@drawable/discover"
        android:label="@string/app_name"
        android:theme="@style/GMSTheme.Light"
        android:name=".DealMapApp">
        <activity android:name=".DealMapDispatchActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
            	<action android:name="android.intent.action.VIEW" />
            	<category android:name="android.intent.category.DEFAULT" />
            	<category android:name="android.intent.category.BROWSABLE" />
            	<data android:scheme="http" android:host="www.gms-world.net" android:pathPrefix="/showLandmark/" />
            	<data android:scheme="http" android:host="www.gms-world.net" android:pathPrefix="/showLocation/" />
            	<data android:scheme="http" android:host="www.gms-world.net" android:pathPrefix="/showHotels/" />
            	<data android:scheme="https" android:host="www.gms-world.net" android:pathPrefix="/showLandmark/" />
            	<data android:scheme="https" android:host="www.gms-world.net" android:pathPrefix="/showLocation/" />
            	<data android:scheme="https" android:host="www.gms-world.net" android:pathPrefix="/showHotels/" />
        	</intent-filter>
        	<intent-filter>
        		<action android:name="android.intent.action.VIEW" />
        		<category android:name="android.intent.category.DEFAULT" />
        		<category android:name="android.intent.category.BROWSABLE" />
            	<data android:scheme="geo" />
    		</intent-filter>
        </activity>
        <activity-alias android:name=".CreateShortcut" android:targetActivity=".DealMapDispatchActivity"
               android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>
        <activity android:name=".DealMap3Activity" android:label="@string/app_name" android:screenOrientation="sensor" android:theme="@style/AppTheme" 
                  android:launchMode="singleTop" android:permission="com.jstakun.gms.android.permission.ACTIVITY">
                <meta-data android:name="android.app.default_searchable" android:value="com.jstakun.gms.android.ui.GMSSearchActivity"/>
        </activity>
        <!--activity android:name="com.jstakun.gms.android.ui.DealCategoryListActivity" android:permission="com.jstakun.gms.android.permission.ACTIVITY">
            <meta-data android:name="android.app.default_searchable" android:value="com.jstakun.gms.android.ui.GMSSearchActivity"/>
        </activity-->
        <activity android:name="com.jstakun.gms.android.ui.GridCategoryListActivity" android:permission="com.jstakun.gms.android.permission.ACTIVITY">
            <meta-data android:name="android.app.default_searchable" android:value="com.jstakun.gms.android.ui.GMSSearchActivity"/>
        </activity>
        <activity android:name="com.jstakun.gms.android.ui.LandmarkListActivity" android:permission="com.jstakun.gms.android.permission.ACTIVITY">
            <meta-data android:name="android.app.default_searchable" android:value="com.jstakun.gms.android.ui.GMSSearchActivity"/>
        </activity>
        <activity android:name="com.jstakun.gms.android.ui.PickLocationActivity" android:permission="com.jstakun.gms.android.permission.ACTIVITY" android:windowSoftInputMode="adjustResize" android:configChanges="orientation|keyboardHidden"></activity>
        <activity android:name="com.jstakun.gms.android.ui.WebViewActivity" android:permission="com.jstakun.gms.android.permission.ACTIVITY" android:windowSoftInputMode="adjustResize" android:configChanges="keyboard|keyboardHidden|orientation"></activity>
        <activity android:name="com.jstakun.gms.android.ui.ConfigurationViewerActivity" android:permission="com.jstakun.gms.android.permission.ACTIVITY"></activity>
        <activity android:name="SettingsActivity" android:permission="com.jstakun.gms.android.permission.ACTIVITY">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.PREFERENCE"/>
            </intent-filter>
        </activity>
        <activity android:name="com.amazon.device.ads.AdActivity" android:permission="com.jstakun.gms.android.permission.ACTIVITY" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.jstakun.gms.android.ui.CalendarActivity" android:permission="com.jstakun.gms.android.permission.ACTIVITY"></activity>
        <activity android:name="com.jstakun.gms.android.ui.HelpActivity" android:permission="com.jstakun.gms.android.permission.ACTIVITY"></activity>
        <activity android:name="com.jstakun.gms.android.ui.AddLayerActivity" android:permission="com.jstakun.gms.android.permission.ACTIVITY"></activity>
        <activity android:name="com.jstakun.gms.android.ui.GMSSearchActivity" android:permission="com.jstakun.gms.android.permission.ACTIVITY">
          <intent-filter>
           <action android:name="android.intent.action.SEARCH" />
           <category android:name="android.intent.category.DEFAULT" />
          </intent-filter>
          <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity>
        
        <provider android:authorities="com.jstakun.gms.android.deals" android:name="com.jstakun.gms.android.ui.deals.DealsSuggestionProvider" android:exported="false"/>
  		
  		<service android:name="com.google.android.gms.analytics.AnalyticsService" android:enabled="true" android:exported="false"/>
        
  		<receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver" android:enabled="true">
         	<intent-filter>
             	<action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
         	</intent-filter>
     	</receiver>
     	
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/googlePlayKey"/>
        
    </application>

</manifest>
